.container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.button {
  width: 90px;
  height: 40px;
  margin-bottom: 20px;
  background-color: #0e66c4;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.element {
  height: 0px;
  padding: 10px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.active {
  height: 80px;
  border: solid 1px rgb(160, 151, 151);
  border-radius: 3px;
}
